# Base16 {{scheme-name}} - foot color config
# {{scheme-author}}
[colors]
foreground={{base05-hex}}
background={{base00-hex}}
regular0={{base00-hex}}  # black
regular1={{base08-hex}}  # red
regular2={{base0B-hex}}  # green
regular3={{base0A-hex}}  # yellow
regular4={{base0D-hex}}  # blue
regular5={{base0E-hex}}  # magenta
regular6={{base0C-hex}}  # cyan
regular7={{base05-hex}}  # white
bright0={{base03-hex}}   # bright black
bright1={{base09-hex}}   # bright red
bright2={{base01-hex}}   # bright green
bright3={{base02-hex}}   # bright yellow
bright4={{base04-hex}}   # bright blue
bright5={{base06-hex}}   # bright magenta
bright6={{base0F-hex}}   # bright cyan
bright7={{base07-hex}}   # bright white

[cursor]
color={{base00-hex}} {{base05-hex}}
